

body { 
    background-image: url(images/bg.png);
    font-family: sans-serif;
    width: 800px;
    margin: auto;
    text-align: center;
}

header{
    width:auto;
    height:50px;
    background-color: #bbb0f584;
    top: 0;
    position:sticky;
}

footer{
    width:auto;
    height:100px;
    background-color: #bbb0f584; 
}



/* navigation */

nav {
    top: 0;
    position:sticky}
ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 0;
    margin-right:auto;
    margin-left:auto;
}

li{
    float: right;
    border-right: 1px solid white;
}

li a {
    display: block;
    color:white;
    padding: 5px;
    background-color:black;
    text-decoration:none;
}

li a:hover { background-color: grey;}

.active{
    background-color: white ;
    color:black;
}
/*meine home*/

h1{
    color: blueviolet;
    background-color: blanchedalmond;
}
h2{
    color: blueviolet;
    background-color: blanchedalmond;
}

/*contact*/ 

form input{
	border-radius: 10px;
	background: lightgrey;
    padding: 5px;
    border: 1px solid black;
	
}

form textarea{
	
	font-family: sans-serif;
	background: lightgrey;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}
	table{
        width: 0px;
        padding: 5px;
        border: 10px; color: blueviolet;
        margin: auto; color: blueviolet;
    }

    #Datenschutz{
        color: burlywood;
    }
    #Projects{
        color: fuchsia;

    }

    
    
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 10px 2px;
        border-radius: 50%;
      }
      
      
    .fa:hover {
        opacity:0.7;
    }
    
    .fa-facebook {
        background: #a421cc;
        color: white;
    }
      
    .fa-instagram {
        background: #55ACEE;
        color: white;
        
    } 
    
        
    footer{
        width:auto;
        height:100px;
        background-color: pink;
        
    }
    
    homepage{
        color:rgb(249, 185, 217);
        font-size:15px;
        outline-style:none;
        position:static;
    }
    
    /*about me*/
    
    h1{color: rgb(219, 87, 245);
    outline-style:dotted ;
    outline-width: 2px;}
    
    table{
    
        width: 0px;
        padding: 5px;
        border: 10px;
        margin: auto;
        text-align: center;
    }
    .Spalte {
        border:5px solid rgb(232, 192, 255);
        margin: auto;

     


    }

    h1{
       transition : color 4 ease-in-out 0s;
       color:violet;
       position:relative;
       top: auto;
       

    }
    h1:hover {
        color: rgb(199, 27, 113);
        top: 10px;
    }



    div a {color: darkred;}
    div > td {color: darkred;}
    h1 + p {color: rgb(232, 192, 255);}
    footer * {color: rgb(249, 185, 217);}
    a:hover {color: saddlebrown;}
    p::before
    div~p {color: rgb(232, 192, 255);}

    * {
        box-sizing: border-box;
      }
      
      /* for mobile phones: */
      [class*="col-"]{
        width: 100%;
      }



    @media only screen and (min-width: 768px) {
        /* for desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
      }

      @media only screen and (min-width:600px) {
        /* for tablets: */
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
      }
      img {
        max-width: 100%;
        height: auto;
      }
      
      video{
        max-width: 100%;
        height: auto;
      }
      


    footer{
        width:auto;
        height:100px;
        background-color: #bbb0f5ce;
       
        
    }
    
    
    
   

