

body { 
    background-image: url(images/bg.png);
    font-family: sans-serif;
    width: 800px;
    margin: auto;
    text-align: center;
}


/* navigation */

nav {position:sticky}
ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 0;
    margin-right:auto;
    margin-left:auto;
}

li{
    float: right;
    border-right: 1px solid white;
}

li a {
    display: block;
    color:white;
    padding: 5px;
    background-color:black;
    text-decoration:none;
}

li a:hover { background-color: grey;}

.active{
    background-color: white ;
    color:black;
}

h1{
    color: blueviolet;
    background-color: blanchedalmond;
}
h2{
    color: blueviolet;
    background-color: blanchedalmond;
}

form input{
	border-radius: 10px;
	background: lightgrey;
    padding: 5px;
    border: 1px solid black;
	
}

form textarea{
	
	font-family: sans-serif;
	background: lightgrey;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}
	table{
        width: 0px;
        padding: 5px;
        border: 10px; color: blueviolet;
        margin: auto; color: blueviolet;
    }

    #Datenschutz{
        color: burlywood;
    }
    



