html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#datenAbschicken {
    border-radius: 1px solid rosybrown;
    background-color:rosybrown;
    margin-top: 20px;
    border-color:rosybrown;
    color: white;
}

#datenErhalten {
    border-radius: 1px solid rosybrown;
    background-color:rosybrown;
    margin-top: 20px;
    border-color:rosybrown;
    color: white;
}

#datenEntfernen {
    border-radius: 1px solid rosybrown;
    background-color:rosybrown;
    margin-top: 20px;
    border-color:rosybrown;
    color: white;
}

h1 {
    color: rosybrown;
}
h2 {
    color: rosybrown;
}